/* CSS for word wrap */
.word-wrap-header {
    white-space: normal;
  }


  .scrolling-text {
    overflow: hidden;
    
  }
  
  .text-container {
    white-space: nowrap;
    animation: scrollText 20s linear infinite;
  }

  .text-container:hover {
    animation-play-state: paused;
  }
  
  @keyframes scrollText {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }