# Ignore the node_modules directory
node_modules/

# Ignore the configBackend.py file
configBackend.py

# Ignore the .angular directory
.angular/

# Ignore the dist directory
dist/

# Ignore the Forecast Files 
Day_Ahead_Forecast_Files/