.title-text {
    font-size: 14px; // Adjust the font size
    font-weight: bold; // Apply bold weight
    font-family: 'Arial, sans-serif'; // Provide a fallback font family
    color: #263238; // Set the text color
  }