<!-- Start Breadcrumbs -->
<app-breadcrumbs title="DASHBOARD" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->


<div class="row" *ngIf="![10,11,12,13,14,15,17].includes(userData['state_id'])">    

    <div class="col-xl-12">
        <div class="card card-height-50">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Forecast Data Upload Status</h4> 

                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="forecastBtnradio" id="btnradio1" checked="" [(ngModel)]="forecastSelectedOption" value="day">
                    <label class="btn btn-outline-secondary mb-0" for="btnradio1">Day Ahead</label>

                    <input type="radio" class="btn-check" name="forecastBtnradio" id="btnradio2" [(ngModel)]="forecastSelectedOption" value="week">
                    <label class="btn btn-outline-secondary mb-0" for="btnradio2">Week Ahead</label>

                    <input type="radio" class="btn-check" name="forecastBtnradio" id="btnradio3" [(ngModel)]="forecastSelectedOption" value="month">
                    <label class="btn btn-outline-secondary mb-0" for="btnradio3">Month Ahead</label>

                    <input type="radio" class="btn-check" name="forecastBtnradio" id="btnradio4" [(ngModel)]="forecastSelectedOption" value="year">
                    <label class="btn btn-outline-secondary mb-0" for="btnradio4">Year Ahead</label>
                </div>
                
            </div><!-- end card header -->
            <div *ngIf="forecastSelectedOption === 'day'">

                <form class="row g-3 needs-validation" novalidate  [formGroup]="dayForm">
                    <div class="row">&nbsp;</div>
                    <div class="row justify-content-end">
                        

                        
    
                        <div class="col-md-4 position-relative">
                            <label for="validationTooltip05" class="form-label">Select Range</label>
                            <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true" mode="range" altFormat="d M, Y" dateFormat="d M, Y" formControlName="dayRange" data-week-number>
                    </div>
    
                <!-- <div class="col-md-1"></div> -->
    
                <div class="col-md-1 d-flex align-items-end">
                    <button class="btn btn-outline-primary btn-load" *ngIf="loading">
                        <span class="d-flex align-items-center">
                            <span class="spinner-border flex-shrink-0" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </span>
                            <span class="flex-grow-1 ms-2">
                                Loading...
                            </span>
                        </span>
                    </button>
                    <button class="btn btn-primary" type="submit" *ngIf="!loading" (click)="fetchForDay()">Submit</button>
                </div>
            
                        
                    </div>
    
                </form>
            <div class="card-body p-0">
                <div class="mb-n2" *ngIf="dataArrived">
                    <apx-chart [series]="forecastDayHeatmapChart.series" [chart]="forecastDayHeatmapChart.chart"
                        [dataLabels]="forecastDayHeatmapChart.dataLabels" [legend]="forecastDayHeatmapChart.legend" [plotOptions]="forecastDayHeatmapChart.plotOptions"
                        [colors]="forecastDayHeatmapChart.colors" [tooltip]="forecastDayHeatmapChart.tooltip" dir="ltr"></apx-chart>
                </div>
            </div><!-- end cardbody -->
        </div>

        <div *ngIf="forecastSelectedOption === 'week'">
            <form class="row g-3 needs-validation" novalidate  [formGroup]="weekForm">
                <div class="row">&nbsp;</div>
                <div class="row justify-content-end">
                    

                    

                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip05" class="form-label">Select Range</label>
                        <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true" mode="range" altFormat="d M, Y" dateFormat="d M, Y" formControlName="weekRange" data-week-number>
                </div>

            <!-- <div class="col-md-1"></div> -->

            <div class="col-md-1 d-flex align-items-end">
                <button class="btn btn-outline-primary btn-load" *ngIf="weekloading">
                    <span class="d-flex align-items-center">
                        <span class="spinner-border flex-shrink-0" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </span>
                        <span class="flex-grow-1 ms-2">
                            Loading...
                        </span>
                    </span>
                </button>
                <button class="btn btn-primary" type="submit" *ngIf="!weekloading" (click)="fetchForWeek()">Submit</button>
            </div>
        
                    
                </div>

            </form>
            <div class="card-body p-0">
                <div class="mb-n2" *ngIf="dataArrived">
                    <apx-chart [series]="forecastWeekHeatmapChart.series" [chart]="forecastWeekHeatmapChart.chart"
                        [dataLabels]="forecastWeekHeatmapChart.dataLabels" [legend]="forecastWeekHeatmapChart.legend" [plotOptions]="forecastWeekHeatmapChart.plotOptions"
                        [colors]="forecastWeekHeatmapChart.colors" [tooltip]="forecastWeekHeatmapChart.tooltip" dir="ltr"></apx-chart>
                </div>
            </div><!-- end cardbody -->
        </div>

        <div *ngIf="forecastSelectedOption === 'month'">

            <form class="row g-3 needs-validation" novalidate  [formGroup]="monthForm">
                <div class="row">&nbsp;</div>
                <div class="row justify-content-end">
                    

                    

                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip05" class="form-label">Select Range</label>
                        <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true" mode="range" altFormat="d M, Y" dateFormat="d M, Y" formControlName="monthRange" data-week-number>
                </div>

            <!-- <div class="col-md-1"></div> -->

            <div class="col-md-1 d-flex align-items-end">
                <button class="btn btn-outline-primary btn-load" *ngIf="monthloading">
                    <span class="d-flex align-items-center">
                        <span class="spinner-border flex-shrink-0" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </span>
                        <span class="flex-grow-1 ms-2">
                            Loading...
                        </span>
                    </span>
                </button>
                
                <button class="btn btn-primary" type="submit" *ngIf="!monthloading" (click)="fetchForMonth()">Submit</button>
            </div>
        
                    
                </div>

            </form>
            <div class="card-body p-0">
                <div class="mb-n2" *ngIf="dataArrived">
                    <apx-chart [series]="forecastMonthHeatmapChart.series" [chart]="forecastMonthHeatmapChart.chart"
                        [dataLabels]="forecastMonthHeatmapChart.dataLabels" [legend]="forecastMonthHeatmapChart.legend" [plotOptions]="forecastMonthHeatmapChart.plotOptions"
                        [colors]="forecastMonthHeatmapChart.colors" [tooltip]="forecastMonthHeatmapChart.tooltip" dir="ltr"></apx-chart>
                </div>
            </div><!-- end cardbody -->


            
        </div>

        <div *ngIf="forecastSelectedOption === 'year'">

            <form class="row g-3 needs-validation" novalidate  [formGroup]="yearForm">
                <div class="row">&nbsp;</div>
                <div class="row justify-content-end">
                    

                    

                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip05" class="form-label">Select Range</label>
                        <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true" mode="range" altFormat="d M, Y" dateFormat="d M, Y" formControlName="yearRange" data-week-number>
                </div>


            <div class="col-md-1 d-flex align-items-end">
                <button class="btn btn-outline-primary btn-load" *ngIf="yearloading">
                    <span class="d-flex align-items-center">
                        <span class="spinner-border flex-shrink-0" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </span>
                        <span class="flex-grow-1 ms-2">
                            Loading...
                        </span>
                    </span>
                </button>
                
                <button class="btn btn-primary" type="submit" *ngIf="!yearloading" (click)="fetchForYear()">Submit</button>
            </div>
        
                    
                </div>

            </form>
            <div class="card-body p-0">
                <div class="mb-n2" *ngIf="dataArrived">
                    <apx-chart [series]="forecastYearHeatmapChart.series" [chart]="forecastYearHeatmapChart.chart"
                        [dataLabels]="forecastYearHeatmapChart.dataLabels" [legend]="forecastYearHeatmapChart.legend" [plotOptions]="forecastYearHeatmapChart.plotOptions"
                        [colors]="forecastYearHeatmapChart.colors" [tooltip]="forecastYearHeatmapChart.tooltip" dir="ltr"></apx-chart>
                </div>
            </div>
            

        
        </div>
        <!-- end card -->
    </div>



    <div class="card card-height-50">
        <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1"> Resource Adequacy Data Upload Status</h4> 

            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="rabtnradio" id="btnradio5" checked="" [(ngModel)]="resourceAdequacySelectedOption" value="day">
                <label class="btn btn-outline-secondary mb-0" for="btnradio5">Day Ahead</label>

                <input type="radio" class="btn-check" name="rabtnradio" id="btnradio6" [(ngModel)]="resourceAdequacySelectedOption" value="week">
                <label class="btn btn-outline-secondary mb-0" for="btnradio6">Week Ahead</label>

                <input type="radio" class="btn-check" name="rabtnradio" id="btnradio7" [(ngModel)]="resourceAdequacySelectedOption" value="month">
                <label class="btn btn-outline-secondary mb-0" for="btnradio7">Month Ahead</label>

                <input type="radio" class="btn-check" name="rabtnradio" id="btnradio8" [(ngModel)]="resourceAdequacySelectedOption" value="year">
                <label class="btn btn-outline-secondary mb-0" for="btnradio8">Year Ahead</label>
            </div>
            
        </div><!-- end card header -->
        <div *ngIf="resourceAdequacySelectedOption === 'day'">

            <form class="row g-3 needs-validation" novalidate  [formGroup]="dayForm">
                <div class="row">&nbsp;</div>
                <div class="row justify-content-end">
                    

                    

                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip05" class="form-label">Select Range</label>
                        <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true" mode="range" altFormat="d M, Y" dateFormat="d M, Y" formControlName="dayRange" data-week-number>
                </div>

            <!-- <div class="col-md-1"></div> -->

            <div class="col-md-1 d-flex align-items-end">
                <button class="btn btn-outline-primary btn-load" *ngIf="raloading">
                    <span class="d-flex align-items-center">
                        <span class="spinner-border flex-shrink-0" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </span>
                        <span class="flex-grow-1 ms-2">
                            Loading...
                        </span>
                    </span>
                </button>
                <button class="btn btn-primary" type="submit" *ngIf="!raloading" (click)="fetchRAForDay()">Submit</button>
            </div>
        
                    
                </div>

            </form>
        <div class="card-body p-0">
            <div class="mb-n2" *ngIf="radataArrived">
                <apx-chart [series]="resourceAdequacyDayHeatmapChart.series" [chart]="resourceAdequacyDayHeatmapChart.chart"
                    [dataLabels]="resourceAdequacyDayHeatmapChart.dataLabels" [legend]="resourceAdequacyDayHeatmapChart.legend" [plotOptions]="resourceAdequacyDayHeatmapChart.plotOptions"
                    [colors]="resourceAdequacyDayHeatmapChart.colors" [tooltip]="resourceAdequacyDayHeatmapChart.tooltip" dir="ltr"></apx-chart>
            </div>
        </div><!-- end cardbody -->
    </div>

    <div *ngIf="resourceAdequacySelectedOption === 'week'">
        <form class="row g-3 needs-validation" novalidate  [formGroup]="weekForm">
            <div class="row">&nbsp;</div>
            <div class="row justify-content-end">
                

                

                <div class="col-md-4 position-relative">
                    <label for="validationTooltip05" class="form-label">Select Range</label>
                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true" mode="range" altFormat="d M, Y" dateFormat="d M, Y" formControlName="weekRange" data-week-number>
            </div>

        <!-- <div class="col-md-1"></div> -->

        <div class="col-md-1 d-flex align-items-end">
            <button class="btn btn-outline-primary btn-load" *ngIf="raweekloading">
                <span class="d-flex align-items-center">
                    <span class="spinner-border flex-shrink-0" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </span>
                    <span class="flex-grow-1 ms-2">
                        Loading...
                    </span>
                </span>
            </button>
            <button class="btn btn-primary" type="submit" *ngIf="!raweekloading" (click)="fetchRAForWeek()">Submit</button>
        </div>
    
                
            </div>

        </form>
        <div class="card-body p-0">
            <div class="mb-n2" *ngIf="radataArrived">
                <apx-chart [series]="resourceAdequacyWeekHeatmapChart.series" [chart]="resourceAdequacyWeekHeatmapChart.chart"
                    [dataLabels]="resourceAdequacyWeekHeatmapChart.dataLabels" [legend]="resourceAdequacyWeekHeatmapChart.legend" [plotOptions]="resourceAdequacyWeekHeatmapChart.plotOptions"
                    [colors]="resourceAdequacyWeekHeatmapChart.colors" [tooltip]="resourceAdequacyWeekHeatmapChart.tooltip" dir="ltr"></apx-chart>
            </div>
        </div><!-- end cardbody -->
    </div>

    <div *ngIf="resourceAdequacySelectedOption === 'month'">

        <form class="row g-3 needs-validation" novalidate  [formGroup]="monthForm">
            <div class="row">&nbsp;</div>
            <div class="row justify-content-end">
                

                

                <div class="col-md-4 position-relative">
                    <label for="validationTooltip05" class="form-label">Select Range</label>
                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true" mode="range" altFormat="d M, Y" dateFormat="d M, Y" formControlName="monthRange" data-week-number>
            </div>

        <!-- <div class="col-md-1"></div> -->

        <div class="col-md-1 d-flex align-items-end">
            <button class="btn btn-outline-primary btn-load" *ngIf="ramonthloading">
                <span class="d-flex align-items-center">
                    <span class="spinner-border flex-shrink-0" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </span>
                    <span class="flex-grow-1 ms-2">
                        Loading...
                    </span>
                </span>
            </button>
            
            <button class="btn btn-primary" type="submit" *ngIf="!ramonthloading" (click)="fetchRAForMonth()">Submit</button>
        </div>
    
                
            </div>

        </form>
        <div class="card-body p-0">
            <div class="mb-n2" *ngIf="radataArrived">
                <apx-chart [series]="resourceAdequacyMonthHeatmapChart.series" [chart]="resourceAdequacyMonthHeatmapChart.chart"
                    [dataLabels]="resourceAdequacyMonthHeatmapChart.dataLabels" [legend]="resourceAdequacyMonthHeatmapChart.legend" [plotOptions]="resourceAdequacyMonthHeatmapChart.plotOptions"
                    [colors]="resourceAdequacyMonthHeatmapChart.colors" [tooltip]="resourceAdequacyMonthHeatmapChart.tooltip" dir="ltr"></apx-chart>
            </div>
        </div><!-- end cardbody -->


        
    </div>

    <div *ngIf="resourceAdequacySelectedOption === 'year'">

        <form class="row g-3 needs-validation" novalidate  [formGroup]="yearForm">
            <div class="row">&nbsp;</div>
            <div class="row justify-content-end">
                

                

                <div class="col-md-4 position-relative">
                    <label for="validationTooltip05" class="form-label">Select Range</label>
                    <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true" mode="range" altFormat="d M, Y" dateFormat="d M, Y" formControlName="yearRange" data-week-number>
            </div>


        <div class="col-md-1 d-flex align-items-end">
            <button class="btn btn-outline-primary btn-load" *ngIf="rayearloading">
                <span class="d-flex align-items-center">
                    <span class="spinner-border flex-shrink-0" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </span>
                    <span class="flex-grow-1 ms-2">
                        Loading...
                    </span>
                </span>
            </button>
            
            <button class="btn btn-primary" type="submit" *ngIf="!rayearloading" (click)="fetchRAForYear()">Submit</button>
        </div>
    
                
            </div>

        </form>
        <div class="card-body p-0">
            <div class="mb-n2" *ngIf="radataArrived">
                <apx-chart [series]="resourceAdequacyYearHeatmapChart.series" [chart]="resourceAdequacyYearHeatmapChart.chart"
                    [dataLabels]="resourceAdequacyYearHeatmapChart.dataLabels" [legend]="resourceAdequacyYearHeatmapChart.legend" [plotOptions]="resourceAdequacyYearHeatmapChart.plotOptions"
                    [colors]="resourceAdequacyYearHeatmapChart.colors" [tooltip]="resourceAdequacyYearHeatmapChart.tooltip" dir="ltr"></apx-chart>
            </div>
        </div>
        

    
    </div>
    <!-- end card -->
</div>

      <!-- <div class="col-xl-12">  -->
        <!-- <div class="card card-height-50"> -->
            <!-- <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Calculated MAPE </h4> 

                <form class="row g-3 needs-validation" novalidate (ngSubmit)="validSubmit()" [formGroup]="validationform">
                <div class="row justify-content-center">

                    

                    <div class="col-md-4 position-relative">
                        <label for="validationCustom04" class="form-label">State</label>
                        <select class="form-select" id="validationCustom04" required formControlName="state"
                            [ngClass]="{'is-invalid': submit && form['state'].errors}" >
                            <option selected disabled value="">Select State</option>

                            <option value="1">Bihar</option>
                            <option value="2">Jharkhand</option>
                            <option value="3">Odisha</option>
                            <option value="4">West Bengal</option>
                            <option value="5">DVC</option>
                            <option value="7">Sikkim</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>

                    <div class="col-md-6 position-relative">
                        <label for="validationTooltip05" class="form-label">Select Range</label>
                        <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true" mode="range" altFormat="d M, Y" dateFormat="d M, Y" formControlName="monthDate" data-week-number>
                </div>


                <div class="col-md-1 d-flex flex-wrap align-items-end">
                    <button class="btn btn-outline-primary btn-load" *ngIf="mapeloading">
                        <span class="d-flex align-items-center">
                            <span class="spinner-border flex-shrink-0" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </span>
                            <span class="flex-grow-1 ms-2">
                                Loading...
                            </span>
                        </span>
                    </button>
                    <button class="btn btn-primary" type="submit" *ngIf="!mapeloading" (click)="confirm()">Submit</button>
                </div>

                 <div class="col-md-2"></div>
        
                    
             </div>

            </form> 

            

                

            
                
             </div> -->
             <!-- end card header -->
             <!-- <div class="d-flex justify-content-center card-title"> 
                <b>{{ mape_title }}</b> 
             </div> 
            
            

            <apx-chart [series]="MarketplaceChart.series" [chart]="MarketplaceChart.chart"
            [dataLabels]="MarketplaceChart.dataLabels" [stroke]="MarketplaceChart.stroke"
            [xaxis]="MarketplaceChart.xaxis" [yaxis]="MarketplaceChart.yaxis" [title]="MarketplaceChart.title" [colors]="MarketplaceChart.colors" dir="ltr">
        </apx-chart>

            
            
        </div> 
         </div> -->
     
        <!-- end card -->
    
         <!-- <div class="col-xl-12">
            <div class="card card-height-50">
                <div class="card-header align-items-center d-flex"> 
                     <h4 class="card-title mb-0 flex-grow-1">Forecast v/s Actual Comparison </h4>  
    
                    <form class="row g-3 needs-validation" novalidate (ngSubmit)="afValidSubmit()" [formGroup]="faform">
                    <div class="row justify-content-center">
    
                        
    
                        <div class="col-md-4 position-relative">
                            <label for="validationCustom04" class="form-label">State</label>
                            <select class="form-select" id="validationCustom04" required formControlName="state"
                                [ngClass]="{'is-invalid': afSubmit && afform['state'].errors}" >
                                <option selected disabled value="">Select State</option> -->
                                <!-- <option value="1">Karnataka</option>
                                <option value="2">Tamilnadu</option>
                                <option value="3">Telangana</option>
                                <option value="4">Andhra Pradesh</option>
                                <option value="5">Kerala</option>
                                <option value="7">Pondicherry</option>
                                <option value="6">SR</option> -->
                                <!-- <option value="1">Bihar</option>
                                <option value="2">Jharkhand</option>
                                <option value="3">Odisha</option>
                                <option value="4">West Bengal</option>
                                <option value="5">DVC</option>
                                <option value="7">Sikkim</option>
<!-- 
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid state.
                            </div>
                        </div>
    
                        <div class="col-md-6 position-relative">
                            <label for="validationTooltip05" class="form-label">Select Range</label>
                            <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true" mode="range" altFormat="d M, Y" dateFormat="d M, Y" formControlName="monthDate" data-week-number>
                    </div>
    
    
                <div class="col-md-1 d-flex flex-wrap align-items-end">
                    <button class="btn btn-outline-primary btn-load" *ngIf="afloading">
                        <span class="d-flex align-items-center">
                            <span class="spinner-border flex-shrink-0" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </span>
                            <span class="flex-grow-1 ms-2">
                                Loading...
                            </span>
                        </span>
                    </button>
                    <button class="btn btn-primary" type="submit" *ngIf="!afloading" (click)="afConfirm()">Submit</button>
                </div>
            
                        
                    </div>
    
                </form>
     
                
    
                    
    
                
                    
                </div> -->
                <!-- end card header -->
                 <!-- <div class="d-flex justify-content-center card-title"> -->
                    <!-- <b>{{ fa_compare_title }}</b>
                </div>
                
    
                <apx-chart [series]="MarketplaceChartAF.series" [chart]="MarketplaceChartAF.chart"
                [dataLabels]="MarketplaceChartAF.dataLabels" [stroke]="MarketplaceChartAF.stroke" 
                [xaxis]="MarketplaceChartAF.xaxis" [yaxis]="MarketplaceChartAF.yaxis" [title]="MarketplaceChartAF.title" [colors]="MarketplaceChartAF.colors" dir="ltr">
            </apx-chart>
    
                
                
            </div>
            </div> -->
            <!-- end card -->

    
</div>


